QWidget#MainWindow{
	background-color: #2d2d30;
	padding: 0px;
	margin: 0px;
}

/*used for QTableView delegate*/
QWidget{
	background-color: #2d2d30;
	color: #f1f1f1;
	font: 14px;
}

QLabel#Info{
	padding: 5px 5px 5px 5px;
}

QLabel#InfoScore{
	padding: 5px 5px 5px 15px;
}

QLabel#InfoWords{
	padding: 5px 5px 5px 5px;
}

QSplitter::handle{
	background: #2d2d30;
}

QListView{
	background-color: #252526;
	color: #f1f1f1;
	border: 1px solid #3f3f46;
	outline: none;
}

QListView::item{
	padding: 3px;
}

QListView::item:selected:active {
    background-color: #007acc;
	color: #f1f1f1;
}

QListView::item:selected:!active{
    background-color: #3f3f46;
	color: #f1f1f1;
}

QHeaderView::section{
	background-color: #333337;
	color: #f1f1f1;
	border: none;
	font: 14px;
	padding: 8px;
	border: 1px solid #3f3f46;
	border-width: 0px 1px 1px 0px
}

QHeaderView::section:checked
{
    background-color: #165f93;
	font: bold 14px;
}

QTableView{
	background-color: #1e1e1e;
	border: 1px solid #3f3f46;
	color: #f1f1f1;
	gridline-color: #3f3f46;
	outline: none;
}

QTableView::item:selected:active {
	outline: none;
	border: 0px;
	background-color: #007acc;
}

QTableView::item:selected:!active {
	outline: none;
	border: 0px;
	background-color: #3f3f46;
	color: #f1f1f1;
}

QLabel#DirLabel{
	font: 14px;
	border: 1px solid #3f3f46;
	padding: 8px 0px 8px 0px
}

QPushButton{
	width: 35px;
	height: 35px;
	background-color: transparent;
	margin: 10px 10px 10px 10px;
}

QPushButton#ChangeFolder{
	border-image: url(:/icons/folder.svg);
	margin: 2px 10px 10px 10px;
}

QPushButton#ChangeFolder:hover{
	border-image: url(:/icons/folder-hover.svg)
}

QPushButton#ChangeFolder:disabled{
	border-image: url(:/icons/folder-disabled.svg)
}

QPushButton#StartTraining{
	border-image: url(:/icons/training.svg);
}

QPushButton#StartTraining:hover{
	border-image: url(:/icons/training-hover.svg);
}

QPushButton#StartTraining:disabled{
	border-image: url(:/icons/training-disabled.svg);
}

QPushButton#StopTraining{
	border-image: url(:/icons/stopTraining.svg);
}

QPushButton#StopTraining:hover{
	border-image: url(:/icons/stopTraining-hover.svg);
}

QPushButton#CreateLesson{
	border-image: url(:/icons/createLesson.svg);
}

QPushButton#CreateLesson:hover{
	border-image: url(:/icons/createLesson-hover.svg);
}

QPushButton#CreateLesson:disabled{
	border-image: url(:/icons/createLesson-disabled.svg);
}

QPushButton#DeleteLesson{
	border-image: url(:/icons/deleteLesson.svg);
}

QPushButton#DeleteLesson:hover{
	border-image: url(:/icons/deleteLesson-hover.svg);
}

QPushButton#DeleteLesson:disabled{
	border-image: url(:/icons/deleteLesson-disabled.svg);
}

QPushButton#EditLesson{
	border-image: url(:/icons/editLesson.svg);
}

QPushButton#EditLesson:hover{
	border-image: url(:/icons/editLesson-hover.svg);
}

QPushButton#EditLesson:disabled{
	border-image: url(:/icons/editLesson-disabled.svg);
}

QPushButton#SaveLesson{
	border-image: url(:/icons/save.svg);
}

QPushButton#SaveLesson:hover{
	border-image: url(:/icons/save-hover.svg);
}

QPushButton#SaveLesson:disabled{
	border-image: url(:/icons/save-disabled.svg);
}

QPushButton#CloseLesson{
	border-image: url(:/icons/close.svg);
}

QPushButton#CloseLesson:hover{
	border-image: url(:/icons/close-hover.svg);
}

QPushButton#CloseLesson:disabled{
	border-image: url(:/icons/close-disabled.svg);
}

QPushButton#DeleteRow{
	border-image: url(:/icons/deleteRow.svg);
}

QPushButton#DeleteRow:hover{
	border-image: url(:/icons/deleteRow-hover.svg);
}

QPushButton#DeleteRow:disabled{
	border-image: url(:/icons/deleteRow-disabled.svg);
}


